{% extends 'web/base.html' %}
{% load forms %}

{% block content %}







    <form method="post" action="{% url 'login_user' %}">
        {% csrf_token %}
        <div class="d-flex justify-content-center align-items-center" style="min-height: 100vh;">

            <div class="registration-form">
                <h2 class="mb-4">Login</h2>


                <div class="form-group">
                    <label for="{{ form.username.id_for_label }}">Email</label>
                    {{ form.username|form_field_class:'form-control' }}

                    {% if form.username.errors %}
                        <div class="alert alert-danger">
                            {% for error in form.username.errors %}
                                <p>{{ error }}</p>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
                <div class="form-group">
                    <label for="{{ form.password.id_for_label }}">Password</label>
                    {{ form.password|form_field_class:'form-control' }}

                    {% if form.non_field_errors %}
                        <div class="alert alert-danger">
                            {% for error in form.non_field_errors %}
                                {{ error }}
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>

                <button type="submit" class="btn btn-primary">Login</button>
                <button type="reset" class="btn btn-danger">Clear</button>


            </div>

        </div>


    </form>

{% endblock %}