{% extends 'web/base.html' %}
{% load forms %}

{% block content %}


    <div style="min-height: 100vh;">
        <div class="row">
            <div class="col-lg-6 mx-auto">
                <form class="contact-form" method="post" action="{% url 'contact_form' %}">
                    {% csrf_token %}
                    <h2 class="text-center mb-4">Contact Us</h2>
                    {{ form }}
                    <button type="submit" class="btn btn-primary btn-block">Send Message</button>
                </form>
            </div>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </div>
{% endblock %}
