{% extends 'web/base.html' %}

{% block content %}

    <div class="d-flex justify-content-center align-items-center" style="min-height: 100vh;">
        <div class="container mt-5">
            <table class="table">My Application
                <thead>
                <tr>
                    <th>Date</th>
                    <th>Position</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for job in job_description %}
                    <tr>
                        <td>    {{ job.creation_date }}</td>
                        <td>    {{ job.title }}</td>
                        <td>

                            <a href="{% url 'details_job' job.id %}" class="btn btn-success">Preview</a>
                        </td>
                    </tr>{% endfor %}

                </tbody>
            </table>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

{% endblock %}
